blueprint:
  name: Go-e Charger Automation
  description: Automation to control a go-eCharger based on a high level mode
  domain: automation
  input:
    mode_input:
      name: "Mode input"
      description: |
        A `text_input` which is needed to store the current mode in a proper way.
        This is only used by this template sensor and is not intended to be included in the UI.
        Create an empty input text, e.g. like this:
        ```yaml
        input_text:
          wallbox_mode_internal:
            name: "Wallbox mode"
        ```
      selector:
        entity:
          domain: input_text
    mqtt_prefix:
      name: "MQTT prefix"
      description: |
        The MQTT topic prefix used by the go-eCharger MQTT integration. This is needed to determine the correct topics
        for controlling the charger, e.g. `/go-eCharger/123456`
      selector:
        text:
    charging_from_grid_allowed:
      name: "Charging from grid allowed"
      description: |
        Whether charging from the grid is currently allowed. Only relevant if the `mode_input` is in "Auto" mode.
        Defaults to `false` if not set.
      selector:
        entity:
          domain:
            - input_boolean
            - binary_sensor
      default:
    charging_from_pv_allowed:
      name: "Charging from PV allowed"
      description: |
        Whether charging from excess PV power is allowed or not. Only relevant if `mode_input` is in "Auto" mode.
        Defaults to `true` if not set.
      selector:
        entity:
          domain:
            - input_boolean
            - binary_sensor
      default:
    reset_to_auto_after:
        name: "Reset to Auto after"
        description: |
            Whether to reset the mode back to "Auto" after a certain time. This can be useful if you want to temporarily
            set the mode to "Off" or a static power level and want it to automatically switch back to "Auto" after a while.
            Set to 00:00:00 to disable the reset.
        selector:
          duration:
        default:
          hours: 12
          minutes: 0
          seconds: 00
    auto_power_level:
      name: "Auto power level"
      description: |
        The power level to use when in "Auto" mode. This is needed to determine the current and phase settings for the
        charger when in "Auto" mode.
      selector:
        select:
          custom_value: true
          options:
            - "1.4 kW"
            - "5.5 kW"
            - "11 kW"
            - "22 kW"
      default: "11 kW"
    power_level_mapping:
      name: "Power levels"
      description: |
        List of power levels for setting a static level.
        If you add custom values in addition to the predefined ones, you need to map them to phase & current in the
        when using the `go-e-charger-automation.yaml` blueprint (using the `power_level_mapping` input).
      selector:
        object:
          multiple: true
          label_field: name
          fields:
            name:
              label: "Name of the power level, e.g. '5.5 kW'"
              required: true
              selector:
                text:
            phases:
              label: "Phase switch mode"
              required: true
              selector:
                select:
                  options:
                    - single
                    - auto
            current:
              label: "Current in Ampere"
              required: true
              selector:
                number:
                  min: 6
                  max: 32
                  step: 1
      default:
        - name: "1.4 kW"
          phases: single
          current: 6
        - name: "5.5 kW"
          phases: auto
          current: 8
        - name: "11 kW"
          phases: auto
          current: 16
        - name: "22 kW"
          phases: auto
          current: 32
        - name: "Auto"
          phases: auto
          current: 16


variables:
  input_mode_input: !input mode_input
  input_mqtt_prefix: !input mqtt_prefix
  input_charging_from_grid_allowed: !input charging_from_grid_allowed
  input_charging_from_pv_allowed: !input charging_from_pv_allowed
  input_power_level_mapping: !input power_level_mapping
  input_auto_power_level: !input auto_power_level
  input_reset_to_auto_after: !input reset_to_auto_after

  mode: '{{ states(input_mode_input) }}'
  is_charging_from_grid_allowed: >
    {%- if input_charging_from_grid_allowed -%}
       {{ states(input_charging_from_grid_allowed) == 'on' }}
    {%- else -%}
       false
    {%- endif -%}
  is_charging_from_pv_allowed: >
    {%- if input_charging_from_pv_allowed -%}
       {{ states(input_charging_from_pv_allowed) == 'on' }}
    {%- else -%}
       true
    {%- endif -%}
  phase_and_current_from_mode: >
   {% if mode == "Auto" %}
    {% set mapping = (input_power_level_mapping | selectattr("name", "equalto", input_auto_power_level) | list | first) %}
   {% elif mode in ["PV", "Off"] %}
    {% set mapping = None %}
   {% else %}
    {% set mapping = (input_power_level_mapping | selectattr("name", "equalto", mode) | list | first) %}
   {% endif %}
   {% if mapping is not none %}
     {% set phases = mapping.phases %}
     {% set current = mapping.current %}
   {% else %}
     {% set phases = "auto" %}
     {% set current = 0 %}
   {% endif %}
   {% if phases == "single" %}
     {% set psm = 1 %}
   {% else %}
     {% set psm = 0 %}
   {% endif %}
   { "psm": {{ psm }}, "amp": {{ current }} }
  reset_to_auto_seconds: >-
    {%- if input_reset_to_auto_after.hours == 0 and input_reset_to_auto_after.minutes == 0 and input_reset_to_auto_after.seconds == 0 -%}
      0
    {%- else -%}
      {{ timedelta(**input_reset_to_auto_after).total_seconds() }}
    {%- endif -%}
  duration_in_current_mode_seconds: >
    {{ (now() - states[input_mode_input].last_changed).total_seconds() }}


trigger:
  - platform: state
    entity_id: !input mode_input

  # Check regularly if we need to reset to Auto mode or if we are in Auto mode and the conditions have changed
  - platform: time_pattern
    minutes: '/5'

action:
  - action: mqtt.publish
    data:
      topic: 'go-e-charger-automation/debug'
      payload: |
          --- debug info of go-eCharger automation ----------------------------
          Mode:                        {{ mode }}
          Input power level mapping:   {{ input_power_level_mapping }}
          Charging from grid allowed:  {{ is_charging_from_grid_allowed }}
          Charging from PV allowed:    {{ is_charging_from_pv_allowed }}
          Phase and current from mode: {{ phase_and_current_from_mode }}
          Reset to auto time:          {{ reset_to_auto_seconds }}
          Duration in current mode:    {{ duration_in_current_mode_seconds }}
          Reset to auto:               {{ mode != "Auto" and reset_to_auto_seconds > 0 and duration_in_current_mode_seconds > reset_to_auto_seconds }}
          ---------------------------------------------------------------------
  - choose:
      - conditions: '{{ mode != "Auto" and reset_to_auto_seconds > 0 and duration_in_current_mode_seconds > reset_to_auto_seconds }}'
        sequence:
          - action: input_text.set_value
            data:
              entity_id: !input mode_input
              value: "Auto"
      - conditions:
          - condition: or
            conditions:
              - '{{ mode == "Auto" and is_charging_from_grid_allowed }}'
              - '{{ mode != "Auto" and mode in (input_power_level_mapping | map(attribute="name") | list) }}'
        sequence:
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/psm/set' # Phase switch mode: 0 = auto, 1 = force single phase, 2 = force three phase
              payload: '{{ phase_and_current_from_mode.psm }}'
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/amp/set'
              payload: '{{ phase_and_current_from_mode.amp }}'
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/frc/set'
              payload: '0' # Force state Neutral
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/fup/set'
              payload: '0' # Do net use PV surplus
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/lmo/set'
              payload: '3' # Set logic mode to "Default"
      - conditions:
          condition: or
          conditions:
            - '{{ mode == "PV" }}'
            - '{{ mode == "Auto" and is_charging_from_pv_allowed }}'
        sequence:
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/frc/set'
              payload: '0' # Force state Neutral
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/fup/set'
              payload: '1' # Use PV surplus
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/psm/set'
              payload: '0'  # Phase switch mode Auto
          - action: mqtt.publish
            data:
              topic: '{{ input_mqtt_prefix }}/lmo/set'
              payload: '4' # Set logic mode to "Eco"
    default:
      - action: mqtt.publish
        data:
          topic: '{{ input_mqtt_prefix }}/frc/set'
          payload: 1 # Off
